<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Learning & Development In Children Project</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <link href="static/css/style.css" type="text/css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Learning & Development In Children - Data Analysis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.eda') }}">EDA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container intro-container">
      <div class="masthead-heading text-uppercase">Did you know that learning in young children is socially mediated?</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#view0">Tell Me More</a>
    </div>
  </header>
  <img src="static/img/hands.png" style="z-index: 2;" alt="">
  <section class="page-section bg-light" id="view0">
    <div class="container">
      <div class="row mb-5 text-center text-uppercase">
        <h1>The Data</h1>
      </div>
      <div class="row">
        <p>The Australian Early Development Census (AEDC) is a population measure of how young children in Australia have developed by the time they start their first year of full-time school. The AEDC is a national assessment that is completed by teachers about children in their first year of formal schooling. This project looks at 2018 AEDC results for children enrolled in Victorian schools, combined with family labour force status and socioeconomic characteristics collected in the 2016 Census. This project provides insights on the role of parental and other socioeconomic characteristics on child development. The AEDC measures five areas or 'domains' of early childhood development:</p> 
        <ul>
          <li>Physical health and wellbeing (Health)</li>
          <li>Social competence (Social)</li>
          <li>Emotional maturity (Emotional)</li>
          <li>Language and cognitive skills (Language)</li>
          <li>Communication skills and general knowledge (Communication)</li>
        </ul>
        <p>The ABS Census of Population and Housing is conducted every five years and aims to accurately measure the number and key characteristics of people who are in Australia on Census Night. Due to ABS Census data being collected in 2016 and AEDC data being collected in 2018, there is a possibility that some children's family and household characteristics may have changed between the time of the ABS Census and the AEDC. In addition, the data used is not based on linked AEDC and ABS Census records. </p>
        <p>All information is reported by Statistical Area Level 2 in Victoria. Statistical Areas Level 2 (SA2) are medium-sized general purpose areas built up from whole Statistical Areas Level 1. Their purpose is to represent a community that interacts together socially and economically. </p>
      </div>
    </div>
    <a class="btn btn-custom-white btn-xl text-uppercase js-scroll-trigger float-right" href="#view1">Next</a>
    <br>
  </section>

  <section class="page-section" id="view2">
    <div class="container">
      <div class="row mb-5 text-center text-uppercase">
        <h1>Analysis</h1>
      </div>
      <div class="row"></div>
    </div>
    <a class="btn btn-custom-dark-white btn-xl text-uppercase js-scroll-trigger float-right" href="#view3">Next</a>
    <br>
  </section>

  <section class="page-section" id="view2">
    <div class="container">
      <div class="row mb-5 text-center text-uppercase">
        <h1>Analysis</h1>
      </div>
      <div class="row"></div>
    </div>
    <a class="btn btn-custom-dark-white btn-xl text-uppercase js-scroll-trigger float-right" href="#view3">Next</a>
    <br>
  </section>

  <section class="page-section bg-light" id="view3">
    <div class="container">
      <div class="row mb-5 text-center text-uppercase">
        <h1>Oversights</h1>
      </div>
      <div class="row">
        <p></p>
      </div>
    </div>
    <a class="btn btn-custom-white btn-xl text-uppercase js-scroll-trigger float-right" href="#end">End</a>
    <br>
  </section>

  <section class="page-section" id="end">
    <div class="container">
      <div class="col-lg-12 mb-4 text-center">
        <h1>Explore the Data Yourself</h1>
      </div>
      <div class="row text-center mb-3">
        <p>Check out our Exploritory Data App to get a overview of our data sources.</p>
        <a class="btn btn-primary btn-xl text-uppercase" href="/eda">EDA</a>
      </div>
      <div class="row text-center">
        <p>Or fetch the data yourself from our API.</p>
        <a class="btn btn-primary btn-xl text-uppercase" href="/api">API</a>
      </div>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
